@media (max-width: 1023px)
{
    body._lock{
        overflow: hidden;
    }

    .cont{
        padding-left: 16px;
        padding-right: 16px;
    }

    .header{
        position: fixed;
        left: 0;
        top: 78px;
        z-index: 99;
        background: #fff;
        height: calc(100% - 78px);
        width: 100%;
        padding: 20px 0 24px;
        overflow: hidden;
        overflow-y: auto;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity .2s linear, visibility .2s linear;
    }

    .header._show{
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .header._active{
        overflow: hidden;
    }

    .header__logo{
        display: none;
    }

    .header__colr{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }

    .header__top{
        width: 100%;
        order: 2;
        flex-wrap: wrap;
        padding: 0;
        margin: 40px 0 0;
        border: none;
        gap: 24px;
    }

    .header__contacts{
        width: 100%;
        justify-content: space-between;
        gap: 12px 24px;
    }

    .header__adres-btn{
        font-size: 14px;
    }

    .header__adres-items{
        top: auto;
        bottom: calc(100% + 8px);
    }

    .header__mail{
        font-size: 14px;
    }

    .header__phone{
        font-size: 14px;
    }

    .header__time{
        font-size: 14px;
    }

    .header__top-colr{
        width: 100%;
    }

    .header__partner{
        display: none;
    }

    .header__contact{
        display: none;
    }

    .header__links{
        padding-top: 23px;
        border-top: 1px solid #C9D4E0;
        width: 100%;
        justify-content: center;
    }

    .header__info{
        width: 100%;
        flex-wrap: wrap;
        gap: 20px;
        position: static;
    }

    .header-catalog{
        width: 100%;
    }

    .header-catalog__open{
        height: 48px;
        font-size: 14px;
    }

    .header._search .header-catalog{
        display: none;
    }

    .header._search .header__top{
        display: none;
    }

    .header._search .header__menu{
        display: none;
    }

    .header__search{
        width: 100%;
        order: -1;
        max-width: none;
        height: auto;
    }

    .header__search-hide{
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        flex-shrink: 0;
        width: 22px;
        height: 40px;
    }

    .header__search._active .header__search-hide{
        display: flex;
    }

    .header__search-hide svg{
        display: block;
        fill: #111827;
        width: 7px;
        height: 12px;
    }

    .header__search-block{
        position: relative;
        top: 0;
        width: 100%;
        padding: 0;
        box-shadow: none;
        margin-top: 24px;
        display: none;
    }

    .header__search._active .header__search-block{
        display: block;
    }

    .header__search._active .header__search-input{
        position: relative;
        width: 100%;
    }

    .header__search-scroll{
        max-height: none;
    }

    .header__menu{
        width: 100%;
        gap: 0;
        flex-wrap: wrap;
    }

    .header__menu-item{
        width: 100%;
        font-size: 16px;
        border-top: 1px solid #C9D4E0;
        border-bottom: 1px solid #C9D4E0;
    }
    
    .header__menu-item + .header__menu-item{
        margin-top: -1px;
    }
    
    .header__menu-link{
        padding: 18px 20px 18px 0;
        position: relative;
    }

    .header__menu-link::after{
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        width: 5px;
        height: 10px;
        margin-top: -5px;
        background: url(../images/arrow1.svg) 50% no-repeat;
    }

    .header__menu-link span:after{
        display: none;
    }

    .header-catalog__block{
        position: fixed;
        left: 0;
        top: 78px;
        width: 100%;
        height: calc(100% - 78px);
        overflow: hidden;
        overflow-y: auto;
    }

    .header-catalog__block .cont{
        height: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .catalog-head{
        display: block;
        padding-left: 16px;
        padding-right: 16px;
    }

    .catalog-head__back{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        flex-wrap: nowrap;
        font-family: var(--font-family2);
        font-size: 22px;
        line-height: 1.2;
        letter-spacing: -0.01em;
        color: #111827;
        gap: 10px;
        height: 56px;
    }

    .catalog-head__back svg{
        display: block;
        width: 7px;
        height: 12px;
        fill: currentColor;
    }

    .header-catalog__wrap{
        height: calc(100% - 56px);
        padding: 0;
    }

    .header-catalog__bg{
        height: 100%;
    }

    .header-menu{
        width: 100%;
        height: 100%;
        max-width: none;
        padding: 0;
        border: none;
        padding: 0 16px 24px;
    }

    .header-catalog._second .header-menu{
        overflow: hidden;
    }

    .header-menu__item{
        border-bottom: 1px solid #EBF0F5;
    }

    .header-menu__link{
        font-size: 16px;
        padding: 12px 0;
    }

    .header-menu__link-icon {
        width: 80px;
        height: 56px;
    }

    .header-submenu{
        position: fixed;
        left: 0;
        top: 134px;
        height: calc(100% - 134px);
        width: 100%;
        overflow: hidden;
        overflow-y: auto;
        transform: translateX(100%);
        transition: .3s linear;
        pointer-events: none;
        background: #fff;
        padding: 0 16px 24px;
    }

    .header-submenu._show{
        transform: translateX(0);
        opacity: 1;
        pointer-events: none;
        visibility: visible;
    }

    .header._show .header-submenu._show{
        pointer-events: auto;
    }

    .header-submenu__top{
        display: none;
    }

    .header-submenu__flex{
        padding: 0;
    }

    .header-submenu__coll{
        gap: 0;
    }

    .header-submenu__coll-item{
        width: 100%;
    }

    .header-submenu__item{
        margin-top: 0;
        border-bottom: 1px solid #EBF0F5;
    }

    .header-submenu__item._mob{
        display: block;
    }

    .header-submenu__item._mob .header-submenu__link{
        color: #0E8FBF;
    }

    .header-submenu__link{
        padding: 16px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        flex-wrap: nowrap;
        gap: 16px;
    }

    .header-submenu__link-arrow{
        display: block;
        width: 16px;
        height: 16px;
        stroke: currentColor;
    }

	.header-mob{
        display: block;
        height: 78px;
    }

    .header-mob__wrap{
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 100;
        padding: 14px 0 13px;
        background: #fff;
        border-bottom: 1px solid #C9D4E0;
    }

    .header-mob__wrap._active{
        position: fixed;
    }

    .header-mob .cont{
        align-items: center;
        align-content: center;
        justify-content: space-between;   
    }

    .header-mob__logo a,
    .header-mob__logo img{
        display: block;
        max-width: 100%;
        height: 50px;
    }

    .mob-menu-btn{
        width: 40px;
        height: 40px;
        padding: 9px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .mob-menu-btn span{
        display: block;
        width: 100%;
        height: 2px;
        background: #111827;
        position: relative;
    }

    .mob-menu-btn span + span{
        margin-top: 4px;
    }

    .mob-menu-btn._active span:first-child{
        transform: rotate(45deg);
        top: 6px;
    }

    .mob-menu-btn._active span:nth-child(2){
        opacity: 0;
    }

    .mob-menu-btn._active span:last-child{
        transform: rotate(-45deg);
        top: -6px;
    }


    .main-banner__wrap{
        min-height: 560px;
        padding: 32px 0 40px;
    }

    .main-banner__logo img{
        max-height: 16px;
    }

    .main-banner__title{
        font-size: 32px;
        max-width: 500px;
        margin-top: 24px;
    }

    .main-banner__desc{
        font-size: 16px;
        margin-top: 12px;
    }

    .main-banner__link {
        min-width: 200px;
    }

    .main-banner__about{
        width: 220px;
        bottom: 40px;
    }


    .head-section._flex{
        flex-wrap: wrap;
    }

    .head-section .global-title{
        margin-top: 0;
        width: 100%;
        max-width: none;
    }

    .head-section__btn{
        display: none;
    }

    .main-title{
        font-size: 28px;
    }

    .main-title br{
        display: none;
    }

    .wrap-btn._mob{
        margin-top: 32px;
        display: block;
    }


    .cats-popular__item {
        width: calc(100% / 3 - 16px);
    }

    .cats-popular .btn-dark{
        min-width: 200px;
    }


    .about-main .cont{
        padding: 0;
    }

    .about-main__bg{
        padding-top: 32px;
        padding-bottom: 40px;
        /* aspect-ratio: auto; */
    }

    /* .about-main__wrap{
        min-height: 500px;
    } */

    .about-main .main-title{
        font-size: 32px;
    }

    .about-main .main-title._white{
        color: #fff;
    }

    .about-main__val{
        font-size: 60px;
    }

    .about-main__desc{
        padding-right: 0;
    }


    .product__name{
        font-size: 18px;
    }

    .product__info{
        margin-top: 20px;
        flex-wrap: wrap;
    }

    .product__article{
        order: -1;
    }

    .product__info-title{
        font-size: 14px;
        display: inline;
    }

    .product__info-desc{
        font-size: 14px;
        display: inline;
    }

    .product__price{
        margin-top: 20px;
        font-size: 20px;
    }

    .product__arrow{
        top: 16px;
        right: 16px;
    }

    .product__sticker{
        font-size: 12px;
    }

    .slider-button-prev,
    .slider-button-next{
        width: 40px;
        height: 40px;
    }

    .slider-button-prev._top,
	.slider-button-prev._top2{
        bottom: 0;
        top: auto;
        margin-top: 0;
        left: 0;
        right: auto;
    }

    .slider-button-next._top,
	.slider-button-next._top2{
        bottom: 0;
        top: auto;
        margin-top: 0;
    }

    .main-news__slider .slider-button-prev._top,
    .main-news__slider .slider-button-next._top{
        bottom: 0;
        top: auto;
        margin-top: 0;
    }

    .slider-pagination._mob{
        display: flex;
    }

    .advantages-main__slider .slider-button-prev,
    .advantages-main__slider .slider-button-next{
        bottom: 0;
        top: auto;
        margin-top: 0;
    }

    .cats-product__items{
        columns: 1;
        margin-top: 24px;
    }

    .cats-product__item{
        padding-left: 0;
        padding-right: 0;
    }

    .cats-product__item:hover {
        color: #72CFE8;
        background: transparent;
    }

    .cats-product__item:hover .cats-product__arrow svg{
        fill: #72CFE8;
    }

    .cats-product__wrap{
        width: auto;
        min-width: 160px;
        gap: 0;
    }

    .cats-product__val{
        font-size: 14px;
    }

    .cats-product__name{
        padding-right: 0;
    }


    .points-sale__boxL{
        width: 100%;
    }

    .points-sale__boxR{
        width: 100%;
        padding-top: 0;
        margin-top: 16px;
    }


    .points-sale__wrap{
        margin-top: 24px;
    }

    .points-sale__search{
        position: relative;
        padding: 0;
        margin-bottom: 24px;
    }

    .search-form__field{
        max-width: none;
    }

    .search-form__input{
        border-color: #C9D4E0;
    }


    .main-news__name{
        font-size: 18px;
    }

    .main-news__desc{
        font-size: 14px;
    }


    .find-marketplaces__box{
        width: 55%;
        padding: 16px;
    }

    .find-marketplaces__btns{
        margin-left: -8px;
        padding-top: 22px;
    }

    .find-marketplaces__btn {
        width: calc(100% / 2 - 8px);
        margin: 8px 0 0 8px;
        flex-grow: 1;
        line-height: 52px;
    }

    .find-marketplaces__img{
        width: 45%;
        padding-right: 16px;
    }

    .tabs-container_marg{
        margin-top: 32px;
    }


    .partners{
        padding-bottom: 40px;
    }


    .main-news .head-section{
        padding-right: 0;
    }


    .about-banner{
        padding-top: 10px;
    }

    .about-banner__bg{
        object-position: 58% 0;
    }

    .about-banner__flex {
        padding-top: 21px;
        margin-top: 22px;
        gap: 20px;
    }

    .about-banner__btn{
        min-width: 190px;
    }


    .production__accordion .information__name{
        font-size: 22px;
    }

    .production__accordion .information__name br{
        display: none;
    }


    .certificates__grid{
        width: calc(100% + 16px);
        margin-left: -16px;
        margin-top: 32px;
    }


    .quality-control__colr{
        width: 100%;
    }

    .quality-control__item{
        padding-top: 18px;
        padding-bottom: 18px;
    }

    .quality-control__item-val{
        font-size: 14px;
    }


    .quality-control__cols {
        margin-top: 24px;
        grid-template-columns: 1fr;
    }

    .quality-control__coll {
        grid-row: span 1;
    }

    .quality-control__title {
        font-size: 18px;
        order: -1;
    }

    .quality-control__title span{
        max-width: none;
    }

    .quality-control__img{
        max-width: 500px;
    }

    .quality-control__img img {
        aspect-ratio: 1 / .7;
    }


    .technology__flex{
        margin-top: 32px;
    }

    .technology__number{
        font-size: 60px;
    }

    .technology__title{
        font-size: 16px;
    }

    .technology__desc{
        font-size: 14px;
    }

    .technology__chart{
        margin-top: 32px;
    }

    .technology__imp{
        margin-top: 32px;
    }


    .partners__item img{
        filter: none;
    }


    .news-top{
        margin-top: 12px;
    }

    .news-top__coll {
        width: calc(50% - 20px);
    }

    .news-top__desc{
        margin-top: 16px;
    }

	/* commit */

	.cats-popular__info
	{
		margin-top: 48px;
	}

	.breadcrumbs
	{
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.breadcrumbs .cont
	{
		white-space: nowrap;
		display: -webkit-box;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
	}

	.page-title 
	{
		font-size: 42px;
	}

	.products__grid
	{
		margin-top: 8px;
	}

	.products__grid .product
	{
		margin-top: 24px;
	}

	.product__sticker::before
	{
		top: 4px;
	}

	.products-slider_marg
	{
		margin-top: 24px;
	}

	.products-slider .slider-pagination
	{
		display: flex;
	}

	.product-thumbs
	{
		overflow: visible;
	}

	.faq__wrap
	{
		margin-top: 24px;
	}

	.faq__wrap-marg
	{
		margin-top: 0;
	}

	.faq__top
	{
		margin-bottom: 24px;
	}

	.faq__col
	{
		width: 100%;
		max-width: 375px;
		order: 2;
		margin-top: 24px;
	}

	.faq__info
	{
		width: 100%;
	}
	

	.main-news__grid
	{
		margin-top: -26px;
	}

	.main-news__grid .main-news__item
	{
		margin-top: 40px;
	}


	.product-info__images
	{
		width: 100%;
		max-width: 560px;
		margin: 0 auto;
	}

	.product-info__info
	{
		width: 100%;
		margin-top: 32px;
	}

	.product-info__maxW
	{
		max-width: 100%;
	}


	.information__name-box
	{
		width: calc(100% - 75px);
	}

	.information__name
	{
		max-width: 100%;
		margin-left: 0;
	}


	.info-title
	{
		flex-wrap: wrap;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.accordion__data-small
	{
		width: 100%;
		margin-top: 20px;
	}

	.information__plus-minus
	{
		top: 28px;
	}


	.reviews__bot
	{
		flex-wrap: wrap;
		margin-top: 20px;
		padding-top: 20px;
	}

	.reviews__box
	{
		margin-right: 0;
		width: 100%;
	}

	.reviews__company
	{
		margin-top: 12px;
	}

	.reviews__city
	{
		margin-top: 6px;
	}

	.reviews-slider_marg
	{
		margin-top: 24px;
	}

	.reviews-slider .slider-pagination
	{
		display: flex;
	}


	.contacts__desc 
	{
		font-size: 16px;
	}

	.contacts__map
	{
		height: 530px;
	}


	.main-form__coll
	{
		width: 100%;
	}

	.main-form__colr
	{
		width: 100%;
		margin-top: 24px;
	}

	.main-form__title
	{
		margin-top: 12px;
	}

	.main-form__wrap
	{
		max-width: 100%;
	}

	.form__line_w
	{
		max-width: 100%;
	}


	.list-dealers__sorting
	{
		margin-top: 40px;
	}

	.list-dealers__sorting-flex .select-wrap 
	{
		min-width: 260px;
	}

	.wrap-table_mob
	{
		display: none;
	}

	.list-dealers__slider
	{
		display: block;
		margin-top: 40px;
	}

	.list-dealers__item
	{
		height: auto;
		border: 1px solid #C9D4E0;
		padding: 16px;
	}

	.list-dealers__name
	{
		font-family: var(--font-family2);
		font-size: 20px;
		line-height: 1.2;
	}

	.list-dealers__info
	{
		margin-top: 16px;
		font-size: 14px;
		line-height: 1.2;
		letter-spacing: -0.01em;
	}

	.list-dealers__info div + div
	{
		margin-top: 8px;
	}

	.list-dealers__info div a
	{
		text-decoration: none;
		color: #111827;
	}

	.list-dealers__slider .slider-button-prev,
    .list-dealers__slider .slider-button-next
	{
        bottom: 0;
        top: auto;
        margin-top: 0;
    }


	.list-dealers__map
	{
		height: 530px;
	}


	.section-download .main-title, 
	.section-download .head-section__desc
	{
		padding-right: 0;
	}

	.head-section__box
	{
		width: 100%;
	}

	.head-section__desc
	{
		font-size: 14px;
	}

	.download .slider-button-prev, 
	.download .slider-button-next
	{
		display: none;
	}

	.download__wrap._flex
	{
		justify-content: space-between;
		align-items: stretch;
		align-content: stretch;
		margin-top: -12px;
	}

	.download__item
	{
		width: calc(50% - 8px);
		margin-top: 12px;
	}

	.download__name
	{
		font-size: 20px;
	}


	.partners__info
	{
		display: none;
	}


	.page-dealer__coll
	{
		width: 100%;
		max-width: 100%;
	}

	.page-dealer__colr
	{
		width: 100%;
		margin-top: 32px;
	}

	.page-dealer .contacts 
	{
		margin-top: 32px;
	}

	.page-dealer__logo
	{
		aspect-ratio: 1 / .642;
		padding: 60px;
	}


    .footer__logo{
        max-width: none;
        width: 100%;
    }

    .footer__logo img{
        display: none;
        max-width: 132px;
    }

    .footer__logo img + img{
        display: block;
    }

    .footer__callback-btn{
        line-height: 48px;
    }

    .footer__download-link{
        line-height: 48px;
    }
}