@media (max-width: 1199px)
{
    .header .cont{
        gap: 16px;
    }

	.header__logo{
        width: 118px;
    }


    .header__contacts {
        column-gap: 15px;
    }

    .header__adres-btn{
        font-size: 12px;
    }

    .header__mail{
        font-size: 12px;
    }

    .header__phone{
        font-size: 12px;
    }

    .header__time{
        font-size: 12px;
    }

    .header__partner {
        font-size: 12px;
        line-height: 30px;
        padding: 0 12px;
    }

    .header__contact{
        font-size: 12px;
        line-height: 32px;
    }


    .header__info {
        gap: 15px;
    }

    .header-catalog {
        width: 100px;
    }

    .header-catalog__open{
        height: 40px;
        font-size: 12px;
    }

    .header__search{
        height: 40px;
    }

    .header__search._active .header__search-input{
        width: calc(100% - 115px)
    }

    .header__search-block{
        width: calc(100% - 115px)
    }

    .header__search-link a{
        padding: 16px;
    }

    .popular-cats__box{
        padding-top: 6px;
        padding-bottom: 6px;
    }
    
    .products-search__box{
        padding: 0;
    }

    .popular-cats__name{
        font-size: 18px;
    }

    .popular-cats__desc {
        font-size: 12px;
    }

    .products-search__name{
        font-size: 16px;
    }

    .products-search .product__price{
        font-size: 16px;
    }


    .header__menu-item{
        font-size: 12px;
    }

    .header__menu {
        gap: 15px;
    }

    .header__search-input{
        font-size: 12px;
        padding: 0 39px;
        height: 40px;
        background-position: 12px 50%;
    }

    .header__search-clear{
        width: 40px;
        height: 40px;
        margin-left: -40px;
    }


    .header-menu{
        width: 288px;
        max-height: calc(100vh - 130px);
    }

    .header-menu__link{
        font-size: 14px;
    }

    .header-menu__link-icon{
        width: 50px;
        height: 38px;
    }

    .header-submenu {
        left: 308px;
        width: calc(100% - 308px);
    }

    .header-submenu__colr{
        display: none;
    }

    .header-submenu__title{
        font-size: 20px;
    }

    .header-submenu__item{
        font-size: 14px;
    }


    .main-banner__wrap{
        min-height: 830px;
    }


    .advantages-main__slider{
        margin-top: 32px;
    }

    .advantages-main__item{
        padding: 16px;
    }

    .advantages-main__number{
        font-size: 50px;
        line-height: .8;
    }

    .advantages-main__title{
        font-size: 16px;
    }

    .advantages-main__info{
        font-size: 12px;
    }


    ._marg{
        margin-top: 60px;
    }

    ._marg2{
        margin-top: 60px;
    }

    ._padT{
        padding-top: 60px;
    }

    ._padB{
        padding-bottom: 60px;
    }


    .main-title{
        font-size: 34px;
    }


    .btn-dark{
        line-height: 56px;
    }

    .btn-blue{
        line-height: 56px;
    }

    .btn-light{
        line-height: 56px;
    }


    .cats-popular__grid{
        margin-top: -24px;
    }

    .cats-popular__grid-marg{
        margin-top: 8px;
    }

    .cats-popular__item{
        margin-top: 24px;
    }


    .about-main .main-title {
        font-size: 42px;
    }

    .about-main__val{
        font-size: 70px;
    }


    .partners__grid{
        margin-top: 33px;
    }


    .product__bot{
        padding: 16px;
    }


    .cats-product__items{
        margin-top: 32px;
    }

    .cats-product__img-box{
        display: none;
    }

    .cats-product__wrap{
        width: 180px;
    }


    .points-sale__wrap{
        margin-top: 32px;
    }

    .points-sale__map{
        height: 460px;
    }

    .main-news__slider{
        margin-top: 32px;
    }

    .main-news__slider .slider-button-prev._top,
    .main-news__slider .slider-button-next._top{
        top: -104px;
    }


    .find-marketplaces__box{
        padding: 24px;
        width: 530px;
        min-height: 300px;
    }

    .find-marketplaces__img {
        width: calc(100% - 530px);
        padding-right: 3%;
        padding-left: 0;
    }

    .search-form__submit{
        line-height: 48px;
    }


    .about-banner{
        min-height: 500px;
        padding-top: 5px;
        padding-bottom: 50px;
    }

    .about-banner__desc{
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: -0.01em;
    }


    .advantages-main__date {
        font-size: 36px;
    }

    .advantages-main__bot-title {
        font-size: 16px;
    }

    .advantages-main__bot-desc{
        font-size: 12px;
    }


    .certificate{
        padding: 20px;
    }

    .certificate__download{
        right: 8px;
    }

    .certificate__desc{
        margin-top: 12px;
    }

    .certificate__size{
        margin-top: 8px;
    }


    .quality-control__cols{
        margin-top: 32px;
        gap: 32px 30px;
    }

    .quality-control__title {
        font-size: 22px;
    }

    .quality-control__item{
        padding: 24px 16px;
    }


    .technology__title{
        font-size: 20px;
        padding-top: 0;
    }

    .partners__grid_inner .partners__img{
        height: 100%;
    }

    .partners__item:hover .partners__info
    {
        display: none;
    }

	/* commit */

	.sorting__btn
	{
		line-height: 48px;
	}

	.page-title 
	{
		font-size: 48px;
	}

	.products__info
	{
		margin-top: 70px;
	}

	.faq__col,
	.faq__top
	{
		width: 300px;
	}

	.faq__info 
	{
		width: calc(100% - 340px);
	}


	.slider-button-prev._top2, 
	.slider-button-next._top2 
	{
		top: -104px;
	}

	.product-info__title,
	.product-info__price
	{
		font-size: 32px;
	}

	.product-info .socials._big 
	{
		margin-top: -16px;
	}


	.contacts_marg 
	{
		margin-top: 20px;
	}

	.contacts__item-flex
	{
		padding-left: 15px;
		padding-right: 15px;
	}

	.contacts__desc
	{
		font-size: 18px;
	}


	.list-dealers__btn
	{
		line-height: 48px;
	}

	.wrap-table tr th,
	.wrap-table tr td
	{
		padding-left: 15px;
		padding-right: 15px;
	}


	.page-dealer__coll 
	{
		width: calc(60% - 15px);
	}

	.page-dealer__colr 
	{
		width: calc(40% - 15px);
	}


	.advantages-inner__grid._flex .advantages-inner__item
	{
		width: calc(100% / 3 - 16px);
	}


	.info-section__img-box
	{
		width: 23%;
	}

	.info-section__wrap
	{
		width: 77%;
	}

	.info-section__btn 
	{
		min-width: 210px;
	}


	.loyalty-program__item
	{
		padding-left: 20px;
		padding-right: 20px;
	}

	.loyalty-program__name
	{
		font-size: 30px;
	}

	.loyalty-program__profit-name
	{
		width: calc(48.5% - 10px);
	}

	.loyalty-program__profit-box
	{
		width: calc(51.5% - 10px);
	}


	.main-form__link
	{
		line-height: 54px;
	}


    .footer__cols{
        padding-top: 48px;
        padding-bottom: 40px;
    }

    .footer__logo{
        max-width: 120px;
    }

    .footer__col{
        padding-top: 24px;
    }

    .footer-menu{
        padding-top: 24px;
    }

    .footer__info{
        padding: 40px 0 24px;
    }
}