@media (max-width: 1399px)
{
    .header__logo{
        width: 160px;
    }

	.header__contacts{
        column-gap: 24px;
    }

    .header__top-colr{
        gap: 20px;
    }

    .header__info{
        gap: 24px;
    }

    .header-catalog{
        width: 120px;
    }

    .header__search._active .header__search-input{
        width: calc(100% - 144px)
    }

    .header__search-block{
        width: calc(100% - 144px)
    }

    .popular-cats,
    .products-search{
        gap: 32px 0;
    }

    .popular-cats__item,
    .products-search__item{
        width: calc(50% - 16px);
        gap: 16px;
    }

    .popular-cats__item:nth-child(2n):before,
    .products-search__item:nth-child(2n):before{
        left: -16px;
    }

    .popular-cats__desc{
        font-size: 14px;
    }

    .popular-cats__item:after,
    .products-search__item:after{
        top: -16px;
        width: calc(100% + 16px);
    }

    .popular-cats__item:nth-child(2n):after,
    .products-search__item:nth-child(2n):after{
        left: -16px;
    }

    .products-search__name{
        font-size: 18px;
    }


    .header__menu{
        gap: 20px;
    }


    .header-menu {
        width: 306px;
        padding-right: 16px;
        max-height: calc(100vh - 154px);
    }

    .header-submenu {
        left: 332px;
        width: calc(100% - 332px);
    }

    .header-submenu__coll-item {
        width: calc(100% / 3 - 48px / 3);
    }

    .header-submenu__coll{
        gap: 24px;
    }

    .main-banner__title{
        max-width: 890px;
        font-size: 52px;
    }


    .advantages-main__item{
        min-height: 200px;
    }

    .advantages-main__number{
        font-size: 66px;
    }

    .advantages-main__title{
        font-size: 20px;
    }

    .advantages-main__info{
        padding-top: 24px;
    }


    .main-title{
        font-size: 42px;
    }

    .head-section__btn a {
        min-width: 190px;
    }


    .cats-product__item{
        padding: 16px;
    }

    .cats-product__name{
        font-size: 20px;
    }

    .cats-product__wrap{
        margin-left: 20px;
    }

    .cats-product__arrow{
        width: 32px;
        height: 32px;
    }


    .points-sale__boxL {
        width: calc(55% - 15px);
    }
    
    .points-sale__boxR {
        width: calc(45% - 15px);
    }


    .main-news__slider .slider-button-prev._top
    {
        top: -158px;
    }

    .main-news__slider .slider-button-next._top
    {
        top: -158px;
    }

    .main-news__name{
        font-size: 20px;
    }

    .main-news__btn{
        min-width: 190px;
    }


    .points-sale__map{
        height: 560px;
    }


    .product__name{
        font-size: 20px;
    }

    .product__name br{
        display: none;
    }


    .cats-popular__name{
        font-size: 20px;
    }


    .about-banner{
        min-height: 640px;
    }


    .advantages-main__bot-title{
        font-size: 18px;
    }

    .advantages-main__date {
        font-size: 40px;
    }


	/* commit */

	.product-info__images 
	{
		width: calc(48.3% - 20px);
	}

	.product-info__info 
	{
		width: calc(51.7% - 20px);
	}


	.information__name-box 
	{
		width: calc(47% - 46px);
	}

	.information__info
	{
		width: calc(53% - 46px);
	}


	.slider-button-prev._top2,
	.slider-button-next._top2
	{
		top: -110px;
	}


	.main-form__wrap
	{
		margin-right: auto;
	}


    .footer__logo {
        max-width: 160px;
    }
}