@media (max-width: 1319px)
{

	/* commit */
	
	.page-head
	{
		padding-top: 25px;
		padding-bottom: 25px;
	}

	.page-title
	{
		font-size: 52px;
	}


	.sorting__wrap
	{
		flex-wrap: wrap;
	}

	.sorting__flex
	{
		width: calc(100% + 16px);
	}

	.sorting__box
	{
		width: 100%;
		margin-left: 0;
		margin-top: 20px;
	}


	.product-info__title
	{
		font-size: 36px;
	}

	.information__name,
	.information__number
	{
		font-size: 28px;
	}

	.product-info__price
	{
		font-size: 36px;
	}

	.product-info .socials._big
	{
		margin-top: -11px;
	}
	

	.section-download_padB
	{
		padding-bottom: 24px;
	}

	.section-download_padT
	{
		padding-top: 24px;
	}

	.download_marg
	{
		margin-top: 40px;
	}

	.download__name
	{
		font-size: 18px;
		padding-right: 50px;
	}

	.download .slider-button-prev._top2, 
	.download .slider-button-next._top2 
	{
		top: -87px;
	}
}