@media (max-width: 479px)
{
	.popular-cats{
		gap: 16px 0;
	}

	.popular-cats__item {
		width: calc(50% - 6px);
	}

	.popular-cats__item:before,
	.popular-cats__item:after{
		display: none;
	}

	.products-search__item{
		gap: 12px;
	}

	.products-search__thumb {
    	width: 23.35%;
	}

	.products-search__thumb span{
		aspect-ratio: 1;
	}


    .main-banner__title br{
        display: none;
    }

    .main-banner__about{
        width: 100%;
    }

    .main-banner__bottom{
        gap: 8px;
    }

    .main-banner__link{
        width: 100%;
    }


    .cats-popular__item {
        width: calc(100% - 16px);
    }

    .cats-popular__name{
        font-size: 24px;
    }

    .cats-popular__desc{
        font-size: 16px;
    }
    
    .wrap-btn._mob .btn-dark{
        width: 100%;
    }
    
    .wrap-btn._mob .btn-light{
        width: 100%;
    }
    
    .wrap-btn._mob .btn-blue{
        width: 100%;
    }


    .partners__grid .partners__item {
        width: calc(100% / 2 + 1px);
        padding: 19px;
        aspect-ratio: auto;
        min-height: 130px;
    }


    .cats-product__wrap{
        min-width: 118px;
    }


    .points-sale__desc{
        font-size: 14px;
    }


    .search-form__input{
        padding-left: 15px;
        background-image: none;
    }

    .search-form__submit{
        min-width: 85px;
        padding: 0;
    }

    .points-sale__map {
        height: 530px;
    }


    .main-news__name{
        font-size: 22px;
    }

    .main-news__desc{
        font-size: 16px;
    }

    .main-news__btn{
        width: 100%;
    }


    .find-marketplaces__img{
        width: calc(100% + 360px);
        margin-left: -180px;
        margin-right: -180px;
        overflow: hidden;
    }

    .find-marketplaces__img img{
        width: 100%;
        margin-bottom: -40px;
    }

	.about-main__items_inner{
		padding-left: 16px;
		padding-right: 16px;
		margin-top: -20px;
	}

	.about-main__items_inner .about-main__item{
		margin-top: 28px;
		width: 100%;
		margin-left: 0;
	}

	/* commit */

	.page-title 
	{
		font-size: 32px;
	}

	.sorting__flex
	{
		margin-top: -12px;
	}

	.sorting__flex > *
	{
		margin-top: 12px;
	}

	.sorting .select-wrap 
	{
		width: 100%;
	}

	.sorting__btn
	{
		width: 100%;
	}

	.cats-popular__info
	{
		padding-top: 20px;
	}

	.sorting__box
	{
		margin-top: 32px;
	}


	.products__grid 
	{
		--products_count: 1;
	}

	.products__grid .product__name
	{
		font-size: 20px;
		min-height: 48px;
	}

	.products__info
	{
		font-size: 14px;
	}


	.faq__info-title
	{
		padding-top: 24px;
		padding-bottom: 24px;
		padding-right: 70px;
	}

	.faq__name
	{
		font-size: 20px;
	}

	.faq__plus-minus::before
	{
		height: 32px;
	}

	.faq__plus-minus::after
	{
		width: 32px;
	}

	.faq__box
	{
		padding: 24px 16px;
	}

	.faq__top
	{
		width: 100%;
	}

	.faq__col
	{
		max-width: 100%;
	}

	.faq__title
	{
		font-size: 20px;
	}

	.faq__desc
	{
		margin-top: 16px;
	}

	.faq__desc br
	{
		display: none;
	}

	.faq__btn
	{
		margin-top: 24px;
		width: 100%;
		line-height: 52px;
	}


	.main-news__grid .main-news__item
	{
		width: calc(100% / 1 - 16px);
	}
	

	.product-thumbs .swiper-slide
	{
		width: 56px;
	}

	.product-images__img
	{
		padding: 50px;
	}

	.product-images__arrow,
	.product-images__arrow svg
	{
		width: 39px;
		height: 39px;
	}

	.product-info__title
	{
		font-size: 24px;
	}

	
	.features__feature-name,
	.features__feature-val
	{
		width: calc(50% - 2px);
	}

	
	.product-info__btn
	{
		width: 100%;
	}


	.information__number
	{
		font-size: 22px;
		width: 25px;
	}

	.information__name-box 
	{
		width: calc(100% - 37px);
	}
	
	.information__name
	{
		font-size: 22px;
	}

	.information__plus-minus
	{
		top: 20px;
	}


	.contacts__title
	{
		font-size: 22px;
	}


    .footer__logo{
        width: 100%;
    }

    .footer-menu{
        width: 100%;
        padding-top: 40px;
    }

    .footer__col{
        width: 100%;
    }

    .footer__title{
        margin-bottom: 16px;
    }

    .footer__contacts > div + div{
        margin-top: 16px;
    }

    .socials_marg{
        margin-top: 6px;
    }

    .footer__callback-btn{
        margin-top: 24px;
        width: 100%;
        line-height: 52px;
    }

    .footer__download-box{
        margin-top: 24px;
    }

    .footer__download-link{
        width: 100%;
        line-height: 52px;
    }

    .footer__bot > div{
        width: 100%;
    }
}