@media (max-width: 767px)
{
	.main-banner__wrap{
        min-height: 730px;
    }

    .main-banner__about{
        position: relative;
        bottom: auto;
        margin-top: 24px;
    }


    .advantages-main{
        padding-bottom: 40px;
    }

    .advantages-main__slider .swiper-slide{
        width: 320px;
    }

    .advantages-main__item {
        min-height: 240px;
    }

    .advantages-main__number{
        font-size: 60px;
        line-height: 1.05;
        margin-bottom: 12px;
    }

    .advantages-main__title{
        font-size: 22px;
    }

    .advantages-main__info{
        font-size: 14px;
        padding-top: 20px;
    }

    .advantages-main__img{
        margin-top: 14px;
    }

    .advantages-main__img img{
        max-height: 216px;
    }

    ._marg{
        margin-top: 40px;
    }

    ._marg2{
        margin-top: 40px;
    }

    ._padT{
        padding-top: 40px;
    }

    ._padB{
        padding-bottom: 40px;
    }


    .cats-popular__item {
        width: calc(100% / 2 - 16px);
    }

    .cats-popular__name{
        font-size: 18px;
    }

    .cats-popular__desc{
        font-size: 14px;
    }


    .about-main__wrap{
        min-height: 680px;
    }

    .about-main__item {
        width: calc(100% / 2 - 16px);
        max-width: none;
        flex-grow: 1;
        margin-top: 40px;
    }

    .about-main__items{
        margin-right: 0;
    }

    .partners__grid .partners__item {
        width: calc(100% / 4 + 1px);
        padding: 15px;
    }

    .tabs__button_btn{
        min-width: 1px;
    }

    .products-slider .swiper-overflow{
        overflow: visible;
    }

    .products-slider .swiper-slide{
        width: 320px;
    }

    .product__sticker{
        font-size: 14px;
    }

    .product__arrow{
        top: 20px;
        right: 20px;
    }

    .product__bot{
        padding-bottom: 24px;
    }

    .product__name {
        font-size: 22px;
    }

    .main-news__slider .swiper-overflow{
        overflow: visible;
    }

    .main-news__slider .swiper-slide{
        width: 343px;
    }


    .find-marketplaces{
        padding-top: 32px;
    }

    .find-marketplaces__box{
        width: 100%;
    }

    .find-marketplaces__img{
        width: calc(100% + 32px);
        margin: 8px -16px 0;
        position: relative;
        top: 0;
        transform: translateY(0);
        padding-right: 0;
    }

    .find-marketplaces__btns{
        padding-top: 0;
        margin-top: -8px;
    }

	/* commit */

	.cats-popular_marg
	{
		margin-top: 32px;
	}

	.sorting .select-wrap,
	.sorting__btn
	{
		width: calc(50% - 16px);
	}

	.sorting__box .select-wrap
	{
		width: calc(50% - 8px);
	}

	.sorting__show
	{
		display: none;
	}

	.breadcrumbs
	{
		padding-top: 16px;
		padding-bottom: 12px;

		font-size: 14px;
	}

	.page-head
	{
		padding-top: 12px;
		padding-bottom: 24px;
	}

	.page-title 
	{
		font-size: 38px;
	}

	.products__grid
	{
		--products_count: 2;
	}

	.products__grid .product__name
	{
		font-size: 18px;
	}
    
	.pagination
	{
		line-height: 40px;
	}

	.pagination .prev, 
	.pagination .next
	{
		height: 40px;
	}

	.pagination .prev svg, 
	.pagination .next svg
	{
		width: 40px;
		height: 40px;
	}

	.pagination a
	{
		min-width: 40px;
		margin-left: 10px;
	}

	.pagination .dot
	{
		margin-left: 10px;
	}


	.main-news__grid .main-news__item
	{
		width: calc(100% / 2 - 16px);
	}


	.product-images__img
	{
		aspect-ratio: 1 / .939;
	}

	.product-thumbs
	{
		margin-top: 8px;
	}


	.product-info__price-box
	{
		margin-top: 16px;
		padding-top: 16px;
	}

	.product-info__title, 
	.product-info__price 
	{
		font-size: 28px;
	}

	.product-info__features
	{
		margin-top: 16px;
	}

	.product-info__bot
	{
		flex-wrap: wrap;
	}

	.product-info__bot-btn
	{
		margin-right: 0;
		width: 100%;
	}

	.product-info .socials._big
	{
		margin-top: 0;
	}


	.information__info-title
	{
		padding-top: 27px;
		padding-bottom: 27px;
		padding-right: 70px;
	}

	.information__number 
	{
		font-size: 24px;
		color: #838691;
		width: 30px;
		margin-right: 12px;
	}

	.information__name
	{
		font-size: 24px;
	}

	.information__info
	{
		width: calc(100% + 70px);
		margin-right: -70px;
		color: #838691;
	}

	.information__plus-minus 
	{
		top: 22px;
		right: 0;
	}

	.information__plus-minus::before
	{
		height: 32px;
	}

	.information__plus-minus::after
	{
		width: 32px;
	}


	.reviews-slider .swiper-slide 
	{
		width: 320px;
	}


    .footer__logo{
        width: calc(50% - 12px);
    }

    .footer-menu{
        width: calc(50% - 12px);
        max-width: none;
        padding-top: 0;
    }

    .footer-menu__item + .footer-menu__item{
        margin-top: 16px;
    }

    .footer__col{
        width: calc(50% - 12px);
        max-width: none;
        padding-top: 40px;
    }
}