@media (max-width: 1319px)
{

	/* commit */
	
	.page-head
	{
		padding-top: 25px;
		padding-bottom: 25px;
	}

	.page-title
	{
		font-size: 52px;
	}


	.sorting__wrap
	{
		flex-wrap: wrap;
	}

	.sorting__flex
	{
		width: calc(100% + 16px);
	}

	.sorting__box
	{
		width: 100%;
		margin-left: 0;
		margin-top: 20px;
	}


	.product-info__title
	{
		font-size: 36px;
	}

	.information__name,
	.information__number
	{
		font-size: 28px;
	}

	.product-info__price
	{
		font-size: 36px;
	}

	.product-info .socials._big
	{
		margin-top: -11px;
	}
	

	.certificates_padB
	{
		padding-bottom: 24px;
	}

	.certificates_padT
	{
		padding-top: 24px;
	}

	.download_marg
	{
		margin-top: 40px;
	}

	.download__name
	{
		font-size: 18px;
		padding-right: 50px;
	}

	.download .slider-button-prev._top2, 
	.download .slider-button-next._top2 
	{
		top: -87px;
	}


	.page-dealer__title
	{
		font-size: 48px;
	}
	

	.for-partner__desc
	{
		font-size: 18px;
		max-width: 570px;
	}

	.for-partner__btn-big 
	{
		min-width: 300px;
	}


	.advantages-inner__desc
	{
		margin-top: 40px;
	}

	
	.return-section__item
	{
		min-height: 200px;
		padding: 15px;
	}
}